@import "vendor/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap");
@import "vendor/vars.css";
@import "components/container.css";
@import "components/education.css";
@import "components/header.css";
@import "components/header-burger.css";
@import "components/nav.css";
@import "components/sidebar.css";
@import "components/skills.css";
@import "components/title-text.css";
@import "components/summary.css";
@import "components/experience.css";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  color: var(--secondary-text);
  background-color: var(--page-bg);
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.summary-bg {
  background-color: #fff;
}

.content {
  display: flex;
  position: relative;
  z-index: 30;
  margin-top: 2.5rem;
}

.main {
  padding: 0 5rem 5rem;
}

.custom-gap {
  gap: 1.2rem;
}

@media all and (max-width: 1120px) {
  .content {
    margin-top: 11.5rem;
  }
}

@media all and (max-width: 768px) {
  .main {
    padding: 0 1.5rem 2rem;
  }

  .content {
    margin-top: 8.5rem;
  }
}
