.experience {
  padding-top: 5rem;
}

.experience__title {
  margin-bottom: 3.5rem;
}

.experience__item {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.experience__item:not(:last-child) {
  margin-bottom: 3rem;
}

.experience__item-title {
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
}

.experience__list,
.technologies__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 0.8rem;
}

.experience__link {
  color: inherit;
  margin-left: -0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.8rem;

  transition: all 0.2s linear;
}

.experience__link:hover {
  text-decoration: none;
  color: var(--primary-text);
  background-color: var(--header-bg);
}

.technologies {
  display: flex;
  gap: 0.8rem;
}

.technologies-title {
  font-weight: 700;
}

@media all and (max-width: 768px) {
  .experience__title {
    margin-bottom: 2rem;
  }

  .experience__item-title {
    font-size: calc(1.7rem + (0.6 + 0.6 * 0.7) * ((100vw - 32rem) / 120));
  }

  .experience__list {
    line-height: 1.2;
    font-size: calc(1.5rem + (0.3 + 0.3 * 0.7) * ((100vw - 32rem) / 120));
  }
}
