.contact__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.contact-icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--primary-text);
}

.contact-link {
  color: inherit;
  text-decoration: none;
}
