.title {
  font-size: 2.6rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;

  letter-spacing: 0.7rem;
  text-transform: uppercase;

  color: var(--primary-text);
}

.title-gray {
  color: var(--header-bg);
}

.text {
  font-size: 1.8rem;
}

@media all and (max-width: 768px) {
  .title {
    font-size: calc(2rem + (0.6 + 0.6 * 0.7) * ((100vw - 32rem) / 120));
  }

  .text {
    font-size: calc(1.5rem + (0.5 + 0.5 * 0.7) * ((100vw - 32rem) / 120));
  }
}
