.title {
  font-size: 2.6rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;

  letter-spacing: 0.7rem;
  text-transform: uppercase;

  color: var(--primary-text);
}

.title-gray {
  color: var(--header-bg);
}

.text {
  font-size: 1.8rem;
}
